/* Misc */
$purple: rgb(85, 50, 139);
$gray: gray;
/* Color cube */
$white: white;
$tobacco: #6a5243;
$cod-gray: #0e0e0d;
$manatee: #929295;
$atoll-dark: #0a5e6c;
$chalky: #f0caa1;
$raw-sienna: #d68843;
$perfume: #bda2f3;
$daisy-bush: #5b2ca2;
$japanese-laurel: #287a00;
/* Median cut */
$outer-space: #282d2c;
$pearl-bush: #e9dedc;
$millbrook: #694a3a;
$leather: #9f7651;
$mamba: #878589;
/* Material design */
$driftwood: #b77c49;
$sandrift: #b2927b;
$atoll: #086875;
$limeo-spruce: #344747;
$tan: #d6b28d;